.App {
  text-align: center;
}
.App, #root, html, body{
  height: 100%;
}
:root {
  --rojo: #9D2A52;
  --blanco: #FFFFFF;
  --nero: #000000;
  --amarilloPrincipal: #FFC759;
  --azulPrincipal: #21295C;
}